.extra_bold{
    font-family: "Assistant-ExtraBold","Assistant ExtraBold";
    font-weight: 800;
}
.bold{
    font-family: "Assistant-Bold","Assistant Bold";
    font-weight: 700;
} 
.semi_bold{
    font-family: "Assistant-SemiBold","Assistant SemiBold";
    font-weight: 600;
}
.icon  {
    font-family:  Flaticon;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
} 
.right {
    horizontal-align: right;
}
.left {
    horizontal-align: left;
}
.center {
    horizontal-align: center;
}
.p10 {
    padding: 10;
}
.p10_l_r {
    padding: 0 10 0 10;
}
.p10_t_b {
    padding: 10 0 10 0;
}
.p10_l {
    padding-left: 10;
}
.p10_r {
    padding-right: 10;
}
.p10_t {
    padding-top: 10;
}
.p10_b {
    padding-bottom: 10;
}
.p20 {
    padding:  20;
}
.p20_l_r {
    padding:  0 20 0 20;
}
.p20_t_b {
    padding:  20 0 20 0;
}
.p20_l {
    padding-left:  20;
}
.p20_r {
    padding-right:  20;
}
.p20_t {
    padding-top:  20;
}
.p20_b {
    padding-bottom:  20;
}
.h0 {
    font-size:  40;
}
.h1 {
    font-size:  28;
}
.h2 {
    font-size:  22;
}
.h3 {
    font-size:  18;
}
.h4 {
    font-size:  14;
}
.h5 {
    font-size:  10;
}
.red {
    color:  #A60909;
}
.green {
    color:  #4caf50;
}
.yellow {
    color:  #fed03c;
}
.black {
    color:  black;
}
.dark_silver{
    color: #777777;
}
.silver {
    color: #C0C0C0;
}
.dark_grey {
    color: #E1E2E1;
}
.grey {
    color: #e8e8e8;
} 
.white {
    color:  white;
}
.sky_blue {
    color: #0099CC;
}
.bg_red{
    background:  #A60909;
}
.bg_green{
    background:  #4caf50;
}
.bg_yellow{
    background:  #fed03c;
}
.bg_black{
    background:  black;
}
.bg_dark_silver{
    background: #777777;
}
.bg_silver{
    background: #C0C0C0;
}
.bg_dark_grey{
    background: #E1E2E1;
}
.bg_grey{
    background: #e8e8e8;
} 
.bg_white{
    background:  white;
}
.bg_sky_blue_gradient{
    background: linear-gradient(to bottom, #62c8f6 0%, #0099CC 100%);
}
.bg_blur{
    background-color: rgba(255,  255,  255,  0.2);
}
.bg_disabled{
    background-color: rgba(0,  0,  0,  0.2);
}
.border_0{
    border-style: solid;
    border-width: 0.5;
}
.border_1{
    border-style: solid;
    border-width: 1;
}
.border_2{
    border-style: solid;
    border-width: 2;
}
.border_3{
    border-style: solid;
    border-width: 3;
}
.border_4{
    border-style: solid;
    border-width: 4;
}
.border_5{ 
    border-style: solid;
    border-width: 5;
}
.border_red{
    border-color:  #A60909;
}
.border_green{
    border-color:  #4caf50;
}
.border_yellow{
    border-color:  #fed03c; 
}
.border_black{
    border-color:  black;
}
.border_dark_silver{
    border-color: #777777;
}
.border_silver{
    border-color: #C0C0C0;
}
.border_dark_grey{
    border-color: #E1E2E1;
}
.border_grey{
    border-color: #e8e8e8;
} 
.border_white{
    border-color:  white;
}
.border_sky_blue{
    border-color:  #0099CC;
}
.border_sky_blue_gradient{
    border-color: linear-gradient(to bottom, #62c8f6 0%, #0099CC 100%);
}
.border_blur{
    border-color: rgba(255,  255,  255,  0.2);
}
.border_disabled{
    border-color: rgba(0,  0,  0,  0.2);
}
/*BUTONS*/
Button{
    border-radius: 4;
}
.round_5{
    border-radius: 5;  
}
.circle{
    border-radius: 50%;
}
.h3.fit{
    height: 40;
}
.h4.fit{
    height: 38;
}
.h5.fit{
    height: 35;
}
.scale_in {
    animation-name:  scalein;
    animation-duration:  .3s;
    animation-timing-function:  ease-in;
    animation-fill-mode:  forwards;
}
@keyframes scalein  {
    0%  {
        transform:  scale(0,  0);
        opacity:  0;
    }
    90%  {
        transform:  scale(1.2,  1.2);
        opacity:  1;
    }
    100%  {
        transform:  scale(1,  1); 
    }
}
.scale_out {
    animation-name:  scaleout;
    animation-duration:  .2;
    animation-timing-function:  ease-out;
    animation-fill-mode:  forwards;
}
@keyframes scaleout  {
    from  {
        transform:  scale(1,  1);
        opacity:  1;
    }
    to  {
        transform:  scale(0,  0); 
        opacity:  0;
    }
}